footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 34px;
  background: #131d24;
}

#listLink {
  opacity: 0.4;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
}
#listLink2 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
}

#colList {
  padding-bottom: 10px;
}
#colList2 {
  padding-bottom: 10px;
  text-align: right;
}

.legacy {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}
