.login {
  margin-left: 290px;
  margin-right: 290px;
}
.login-label {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 24px;
  margin-bottom: 19px;
  color: #131d24;
}
.login-input {
  height: 53px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.registration-label {
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
}

#registration-link {
  color: #fd6f60;
}

.login-button {
  background: #fd6f60;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  border-radius: 3px;
  height: 53px;
  margin-top: 40px;
}

.login-container {
  background: #f9f9f9;
  padding-top: 89px;
  padding-bottom: 617px;
}
.login-background {
  background: #f9f9f9;
}
