<footer>
  <div class="container">
    <section class="row">
      <div class="col-md-6" id="colList">
        <a href="#" id="listLink">Privacy Policy</a>
        <a href="#" id="listLink">Terms of use</a>
        <a href="#" id="listLink">Sitemap</a>
        <a href="#" id="listLink">Mobile Site</a>
      </div>
      <div class="col-md-6" id="colList2">
        <a href="#" id="listLink2">About us</a>
        <a href="#" id="listLink2">Blog</a>
        <a href="#" id="listLink2">Careers</a>
        <a href="#" id="listLink2">Press</a>
        <a href="#" id="listLink2">Advertise</a>
      </div>
    </section>
    <div class="row">
      <div class="col-md-12 legacy">
        <div id="listLink">Copyright © 2018 All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>