<footer>
  <div class="container">
    <section class="row">
      <div class="col-md-6" id="left-column">
        <a href="#" >Privacy Policy</a>
        <a href="#" >Terms of use</a>
        <a href="#" >Sitemap</a>
        <a href="#" >Mobile Site</a>
      </div>
      <div class="col-md-6" id="right-column">
        <a href="#" >About us</a>
        <a href="#" >Blog</a>
        <a href="#" >Careers</a>
        <a href="#" >Press</a>
        <a href="#" >Advertise</a>
      </div>
    </section>
    <div class="row">
      <div class="col-md-12">
        <div class="legacy">Copyright © 2018 All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>