<div class="row">
  <div class="col-md-3">
    <div class="admin-users-label">
      {{label}}
    </div>
  </div>
  {{#if label2}}
  <div class="col-md-3">
    <div class="admin-users-label">
      {{label2}}
    </div>
  </div>
  {{/if}}
</div>
