<div class="card admin-card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="admin-card-counter">
          {{counter}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="admin-card-label">
          {{cardName}}
        </div>
      </div>
    </div>
  </div>
</div>
    {{#link-to routePath  class="admin-button btn"}}
    {{buttonText}}
    {{/link-to}}
