.navButton {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  color: #131d24;
  padding: 30px;
}
#navContainer {
  margin-left: 220px;
  margin-right: 220px;
  padding: 20px;
}
.navList {
  text-align: right;
}
.navButton2 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  color: #fd6f60;
  padding: 30px;
}
